@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Red+Hat+Mono:wght@300;400;500&display=swap');
.Bar{
    border: 2px solid rgb(160, 160, 160);
    margin: 0 auto;
    max-width: 40rem;
    border-radius: 1px;
    .input{
        margin: 0.2rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            border: 0px solid #ccc;
            border-radius: 1px;
            padding: 0.5rem;
            font-family: 'Red Hat Mono', monospace;
            font-weight: 300;
            font-style: italic;
            font-size: 2rem;
            width: 34rem;
            &:focus{
                outline:none;
            }
        }
        button{
            border: 0px solid #ccc;
            border-radius: 1px;
            padding: 0.5rem;
            background: rgb(255, 255, 255);
            color: rgb(236, 175, 255);
            opacity: 0.5;
            font-family: 'Red Hat Mono', monospace;
            font-weight: 300;
            font-size: 2rem;
            cursor: pointer;

        }
    }
    
    
}