@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Red+Hat+Mono:wght@300;400;500&display=swap');
h1{
    font-size: 4rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    font-family: 'Red Hat Mono', monospace;
    font-weight: 100;
    color: rgb(228, 160, 255);
    opacity: 0.4;
}
.ButtonTitle{
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgb(87, 49, 97);
    border: 0px;
    font-family: 'Red Hat Mono', monospace;

}